// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

.clickthemall {
    display: block;
    cursor: pointer;
}

.card-image {
    width: 160px;
    height: 160px;
}